[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

pyflakes = "*"
bottle = "*"
pytest = "*"
hypothesis = "*"
mypy = "*"
ipython = "*"


[requires]

python_version = "3.6"


[dev-packages]

